@use "../globals/typography.scss" as *;
@use "../globals/variables.scss" as *;
@use "../util/mixins.scss" as *;
.footer {
    .logo {
        color: var(--clr-primary);
        font-weight: bold;
    }
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3.75rem 0;
        border-bottom: 2px solid gray;
        .contact {
            display: flex;
            align-items: center;
            gap: 2rem;
        }

        @include respond("medium") {
            flex-direction: column;
            .contact {
                flex-direction: column;
                padding-top: 3rem;
                .nav--social {
                    padding-left: 0;
                }
            }
        }
        .nav {
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3.75rem 0;
        @include respond("medium") {
            flex-direction: column;
            .nav {
                flex-direction: column;
                padding-bottom: 3.75rem;
            }
        }
    }
}
