@use "../util/mixins.scss" as *;
.projects__content {
    padding-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.5rem;
    @include respond("large") {
        grid-template-columns: 1fr 1fr;
    }
    @include respond("small") {
        grid-template-columns: 1fr;
    }
}
