@use "../globals/variables.scss" as *;
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.text-gradient {
    background: linear-gradient(90deg, var(--clr-yellow), var(--clr-blue));
    background-size: 150%;
    background-position: -50px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.flex {
    display: flex;
}
