@use "../abstracts/" as *;
.flex-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.flex-row {
  flex-direction: row;
}
.gs-2 {
  column-gap: 2rem;
}
@include mq("md") {
  .flex-group:has(.nav--top) {
    flex-direction: column;
  }
}
