@use "../abstracts/" as *;
.card {
    border-radius: 1.25rem;
    box-shadow: 2px 2px 100px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--clr-card-bg);
    height: 100%;
    &__image {
        img {
            width: 100%;
            height: 260px;
            object-fit: cover;
            object-position: center;
            border-top-right-radius: 1.25rem;
            border-top-left-radius: 1.25rem;
        }
    }
    &__content {
        padding: 1.875rem 1.875rem 0 1.875rem;
    }

    p {
        font-size: $fs-400-fluid;
        line-height: 26px;
        text-align: left;
    }

    &__tags {
        padding: 0 1.875rem 1.875rem 1.875rem;
        font-size: $fs-500-fluid;
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        padding: 0 1.875rem 1.875rem 1.875rem;
    }
}
