@use "../globals/typography.scss" as *;
@use "../globals/variables.scss" as *;
@use "../util/mixins.scss" as *;

.card {
    border-radius: 1.25rem;
    box-shadow: 2px 2px 100px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__image {
        img {
            width: 100%;
            height: 260px;
            object-fit: cover;
            object-position: center;
            border-top-right-radius: 1.25rem;
            border-top-left-radius: 1.25rem;
        }
    }
    &__content {
        padding: 1.875rem 1.875rem 0 1.875rem;
    }

    p {
        font-size: clamp(1rem, 0.956rem + 0.1878vw, 1.125rem);
        line-height: 26px;
        text-align: left;
    }

    &__tags {
        padding: 0 1.875rem 1.875rem 1.875rem;
        font-size: clamp(1.125rem, 1.081rem + 0.1878vw, 1.25rem);
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        padding: 0 1.875rem 1.875rem 1.875rem;
    }
}
