@import url("https://fonts.googleapis.com/css2?family=Madimi+One&family=Oswald:wght@200..700&display=swap");
nav.navbar {
    font-family: "Oswald";
    text-transform: uppercase;

    font-weight: bold;
    background-color: #384e77 !important ;
    padding: 1rem 0 1rem 0;

    .navbar-brand {
        color: #fff;
        letter-spacing: 0.3rem;
    }
    .navbar-nav {
        .nav-item {
            .nav-link {
                color: #fff;
            }
        }
    }
    .navbar-collapse {
    }
}

.header {
    background-color: #8bbeb2;
    padding: 5rem 0 5rem 0;
    text-align: center;
    background:
        linear-gradient(#8bbeb299, #8bbeb299),
        url("../img/bg.jpg") bottom;

    background-attachment: local, scroll;
    background-size: auto, cover;
    margin-top: 72px;
    h1 {
        font-size: 8rem;
        color: #0d0630;
    }
    .logo {
        font-size: 3rem;
        position: relative;
        span:first-child {
            font-family: "Oswald";
            font-weight: bold;
            padding: 1rem;
            width: 100px;
            border: 5px solid #fff;
        }
        span:last-child {
            color: #384e77;
        }
    }
}

.footer {
    background-color: #384e77;
    color: #fff;
}
