@use "../globals/variables.scss" as *;
@use "../util/mixins.scss" as *;

h1 {
    font-size: clamp(2rem, 1.4278rem + 2.4413vw, 3.625rem);
    font-weight: bold;
    line-height: 4.375rem;
    letter-spacing: -1px;
    color: var(--clr-primary);
}

h2 {
    font-size: clamp(1.75rem, 1.3099rem + 1.8779vw, 3rem);
    line-height: 1.625rem;
    color: var(--clr-primary);
}
h3 {
    font-size: clamp(1.25rem, 1.0739rem + 0.7512vw, 1.75rem);
    line-height: 26px;
}

h2,
p {
    text-align: center;
    margin: 2rem 0;
}

p {
    color: var(--clr-secondary);
    font-size: clamp(1.25rem, 0.9859rem + 1.1268vw, 2rem);
    line-height: 1.625rem;
}

a {
    text-decoration: none;
    color: var(--clr-primary);
    font-size: 1.125rem;
    font-family: "DM Sans", sans-serif;
}
